// Custom Scrollbar
::-webkit-scrollbar {
    $scrollbar-size: 10px;

    width: $scrollbar-size;
    height: $scrollbar-size;
  
    transition: all 500ms ease-in-out;
}
   
// Track
::-webkit-scrollbar-track {
    background: #f7f7f7;
    border-radius: 25px;
}
  
// Handle
::-webkit-scrollbar-thumb {
    background-color: #999; 
    border-radius: 25px;
}
  
// Handle on hover
::-webkit-scrollbar-thumb:hover {
    background-color: #bbb;
}