---
import Layout from '../layouts/Layout.astro';

---
<Layout title="Home">
    <!-- Roads -->
    <section class="section main-section">
        <h3 class="section-title main-section-title">Roads</h3>
        <div class="carousel" data-columns="3">
            <section class="section sub-section split" data-img-pos="l">
                <div class="img-parent">
                    <img src="" alt="" />
                </div>
                <div class="level local">
                    <h4 class="level-title">Local</h4>
                    <h5 class="who">Caltrans, CTC</h5>
                    <div class="rnr">
                        <h6 class="level-section-title">Roles & Responsibilities</h5>
                        <p>Caltrans is the state's transportation agency, but it also has local influence in managing roads, highways, and bridges. It handles the planning, construction, and maintenance of these transportation systems, ensuring that roads are safe and accessible.</p>
                    </div>
                    <div class="hai">
                        <h6 class="level-section-title">How they can Address the Issue</h5>
                        <p>At the local level, the CTC can support infrastructure projects like bridge repairs, sidewalk expansions, and upgrading utilities by ensuring that local governments have access to the necessary funding. Their decisions directly affect the quality of infrastructure in communities.</p>
                    </div>
                </div>
            </section>
            <section class="section sub-section split" data-img-pos="r">
                <div class="level state">
                    <h4 class="level-title">State</h4>
                    <h5 class="who">CalBike/TransForm</h5>
                    <p>Non-profits like CalBike and TransForm are working to help fix road conditions in California by getting involved with communities and speaking up for changes.</p>
                    <div class="org">
                        <h6 class="level-section-title">CalBike</h5>
                        <p>The California Bicycle Coalition is about making roads safer for cyclists. They want better bike lanes and work on fixing things like potholes and dangerous intersections. They also push for laws, like the Complete Streets policy, that try to make roads safer for everyone.</p>
                    </div>
                    <div class="org">
                        <h6 class="level-section-title">TransForm</h5>
                        <p>This group focuses on keeping roads in better shape rather than just building new ones. They're big on getting people to use public transportation instead of cars, which would help roads last longer since fewer cars mean less wear and tear.</p>
                    </div>
                </div>
                <div class="img-parent">
                    <img src="" alt="" />
                </div>
            </section>
            <section class="section sub-section split" data-img-pos="l">
                <div class="img-parent">
                    <img src="" alt="" />
                </div>
                <div class="level federal">
                    <h4 class="level-title">Federal</h4>
                    <h5 class="who">U.S. Department of Transportation</h5>
                    <div class="org">
                        <h6 class="level-section-title">Funding Allocation</h5>
                        <p>The DOT allocates federal funds for state and local transportation projects, ensuring resources are directed toward critical infrastructure needs.</p>
                    </div>
                    <div class="org">
                        <h6 class="level-section-title">Policy Development</h5>
                        <p>It develops national transportation policies that guide state and local governments in planning and executing transportation projects.</p>
                    </div>
                </div>
            </section>
        </div>
    </section>

    <!-- Infrastructure -->
    <section class="section main-section">
        <h3 class="section-title main-section-title">Infrastructure</h3>
        <div class="carousel" data-columns="3">
            <section class="section sub-section split" data-img-pos="r">
                <div class="level local">
                    <h4 class="level-title">Local</h4>
                    <h5 class="who">Caltrans</h5>
                    <div class="org">
                        <h6 class="level-section-title">Roles & Responsibilities</h5>
                        <p>Caltrans is responsible for managing and maintaining local infrastructure, including roads, bridges, and public transportation systems. It plays a crucial role in ensuring that infrastructure projects align with state and federal guidelines. Caltrans also collaborates with local governments to address infrastructure needs and improve transportation systems.
                    </div>
                    <div class="hai">
                        <h6 class="level-section-title">How they can Address the Issue</h5>
                        <p>Caltrans can enhance local infrastructure by investing in road repairs, expanding public transportation services, and implementing sustainable transportation solutions. By prioritizing infrastructure projects that promote safety, accessibility, and environmental sustainability, Caltrans can improve the quality of life for residents and support economic growth in local communities.</p>
                    </div>
                </div>
                <div class="img-parent">
                    <img src="" alt="" />
                </div>
            </section>
            <section class="section sub-section split" data-img-pos="l">
                <div class="img-parent">
                    <img src="/img/newsom-speech.jpg" alt='California Governor Gavin Newsom speaking at a podium labeled "Building More, Creating Jobs," surrounded by construction workers and officials at a job site.' />
                </div>
                <div class="level state">
                    <h4 class="level-title">State</h4>
                    <h5 class="who">Governor Gavin Newsom</h5>
                    <div class="rnr">
                        <h6 class="level-section-title">Roles & Responsibilities</h5>
                        <p>Governor Gavin Newsom has been instrumental in driving infrastructure development in California. His leadership has made significant investments in public transportation and road improvements. His administration has allocated billions toward fixing infrastructure and creating more sustainable transportation options.</p>
                    </div>
                    <div class="hai">
                        <h6 class="level-section-title">How they can Address the Issue</h5>
                        <p>Under Governor Newsom's leadership, local governments have received critical funding for infrastructure upgrades. This includes nearly $2 billion allocated for improving public transit and making local roads safer and more efficient. His focus on environmental sustainability has also pushed for greener infrastructure solutions​.</p>
                    </div>
                </div>
            </section>
            <section class="section sub-section split" data-img-pos="r">
                <div class="level federal">
                    <h4 class="level-title">Federal</h4>
                    <h5 class="who">Joe Biden</h5>
                    <div class="rnr">
                        <h6 class="level-section-title">Roles & Responsibilities</h5>
                        <p>President Biden played a key role in championing the Bipartisan Infrastructure Law, engaging with lawmakers from both parties to emphasize the need for robust investment in transportation systems across the nation. The law empowers Biden to allocate significant federal funds for transportation projects, directing resources to enhance roadway safety, improve public transit, and modernize transportation infrastructure. Biden's administration is responsible for creating and implementing national transportation policies prioritizing safety, accessibility, and sustainability, ensuring that state and local governments align their projects with these goals.</p>
                    </div>
                    <div class="hai">
                        <h6 class="level-section-title">How they can Address the Issue</h5>
                        <p>Through the Bipartisan Infrastructure Law, Biden has helped secure funding for public transportation improvements and safety enhancements, aiming to reduce congestion and promote cleaner commuting options, ultimately benefiting communities and public health.</p>
                    </div>
                </div>
                <div class="img-parent">
                    <img src="/img/biden-signing.jpg" alt="President Joe Biden signing a document surrounded by a group of people, including Vice President Kamala Harris, lawmakers, and officials, outside the White House" />
                </div>
            </section>
        </div>
    </section>

    <!-- Public Transport -->
    <section class="section main-section">
        <h2 class="section-title main-section-title">Public Transit</h2>
        <div class="carousel" data-columns="3">
            <section class="section sub-section split" data-img-pos="l">
                <div class="img-parent">
                    <img src="" alt="" />
                </div>
                <div class="level local">
                    <h4 class="level-title">Local</h4>
                    <h5 class="who">SamTrans</h5>
                    <div class="rnr">
                        <h6 class="level-section-title">Roles & Responsibilities</h5>
                        <p>SamTrans handles bus lines and transportation services in San Mateo County. They provide essential services that connect residents to work, schools, and other community facilities.</p>
                    </div>
                    <div class="hai">
                        <h6 class="level-section-title">How they can Address the Issue</h5>
                        <p>SamTrans can improve local transportation by enhancing bus schedules, increasing route coverage, and making public transport more affordable. They can also collaborate with local governments to ensure that transit stops are convenient and accessible​.</p>
                    </div>
                    <h5 class="who">Caltrain</h5>
                    <div class="rnr">
                        <h6 class="level-section-title">Roles & Responsibilities</h5>
                        <p>Caltrain operates a vital public train service across the Bay Area. It connects local regions and provides an alternative to car travel.</p>
                    </div>
                    <div class="hai">
                        <h6 class="level-section-title">How they can Address the Issue</h5>
                        <p>Locally, Caltrain can focus on improving train reliability, increasing the frequency of trains, and expanding service to underserved areas. Improving infrastructure at train stations—like safer platforms and better parking—can encourage more residents to choose public transit over driving​.</p>
                    </div>
                </div>
            </section>
            <section class="section sub-section split" data-img-pos="r">
                <div class="level state">
                    <h4 class="level-title">State</h4>
                    <h5 class="who">Non-profits like CalBike and TransForm</h5>
                    <div class="rnr">
                        <h6 class="level-section-title">Roles & Responsibilities</h5>
                        <p>CalBike: Besides road safety, CalBike wants transportation to be safer for cyclists. They're always pushing for better bike lanes, bike-sharing programs, and making sure biking is part of the city planning.</p>
                    </div>
                    <div class="hai">
                        <h6 class="level-section-title">How they can Address the Issue</h5>
                        <p>TransForm: This group is all about making it easier for people to use public transportation and not depend on cars so much. They push for improving public transit, like buses and trains, and make sure there are good options for people to walk or bike too.</p>
                    </div>
                </div>
                <div class="img-parent">
                    <img data-align="left" src="/img/complete-streets.jpg" alt='Illustration explaining "What are Complete Streets?" with descriptions of different spaces for people, bikes, cars, mass transit, shared mobility, and refuge, showing elements like curb ramps, bike routes, transit-friendly lanes, and public spaces for social interaction.' />
                </div>
            </section>
            <section class="section sub-section split" data-img-pos="l">
                <div class="img-parent">
                    <img src="" alt="" />
                </div>
                <div class="level federal">
                    <h4 class="level-title">Federal</h4>
                    <h5 class="who">Centers for Disease Control and Prevention </h5>
                    <div class="org">
                        <p>The Centers for Disease Control and Prevention (CDC) highlights the public health benefits of expanding public transportation systems. Improved public transit can enhance community health outcomes by reducing pollution and providing better access for underserved populations. The CDC encourages increased funding for public transit systems and safety enhancements for pedestrians and cyclists, ensuring that infrastructure supports active transportation.</p>
                    </div>
                    <div class="rnr">
                        <h6 class="level-section-title">Roles & Responsibilities</h5>
                        <p>Public Health Policy Development: The CDC develops guidelines that influence public health policies related to transportation infrastructure and urban planning.<br><br>
                            
                        </p>
                    </div>
                    <div class="hai">
                        <h6 class="level-section-title">How they can Address the Issue</h5>
                        <p>Research and Data Collection: It conducts research on transportation systems' health impacts, informing policy decisions.<br><br>
                            Collaboration with Agencies: The CDC works with governmental and non-governmental organizations to promote transportation planning that prioritizes health outcomes.</p>
                    </div>
                </div>
            </section>
        </div>
    </section>
</Layout>