---
import Layout from '../layouts/Layout.astro';

import Hero from '../components/Hero.astro'
---
<Layout title="Home">    
    <!-- Hero Component -->
    <Hero />
    <section id="welcome-section" class="section">
        <h1 class="section-title">Welcome to RoadAware</h1>
        <p class="section-text">Learn about crucial infrastructure and transportation issues in your area.</p>
    </section>

    <!-- Road/Infrastructure -->
        <!-- Roads -->
        <!-- Infrastructure -->
    <!-- Public Transport -->
</Layout>