---
import Layout from '../layouts/Layout.astro';

---
<Layout title="Home">
    <!-- Hero -->

    <!-- Roads -->
    <section class="section main-section">
        <h3 class="section-title main-section-title">Roads</h3>
        <div class="split" data-columns="3">
            <div class="level local">
                <h4 class="level-title">Local</h4>
                <h5 class="who"></h5>
                <div class="rnr">
                    <h6 class="level-section-title">Roles & Responsibilities</h5>
                    <p></p>
                </div>
                <div class="hai">
                    <h6 class="level-section-title">How they can Address the Issue</h5>
                    <p></p>
                </div>
            </div>
            <div class="level state">
                <h4 class="level-title">State</h4>
                <h5 class="who"></h5>
                <div class="rnr">
                    <h6 class="level-section-title">Roles & Responsibilities</h5>
                    <p></p>
                </div>
                <div class="hai">
                    <h6 class="level-section-title">How they can Address the Issue</h5>
                    <p></p>
                </div>
            </div>
            <div class="level federal">
                <h4 class="level-title">Federal</h4>
                <h5 class="who"></h5>
                <div class="rnr">
                    <h6 class="level-section-title">Roles & Responsibilities</h5>
                    <p></p>
                </div>
                <div class="hai">
                    <h6 class="level-section-title">How they can Address the Issue</h5>
                    <p></p>
                </div>
            </div>
        </div>
    </section>

    <!-- Infrastructure -->
    <section class="section main-section">
        <h3 class="section-title main-section-title">Infrastructure</h3>
        <div class="split" data-columns="3">
            <div class="level local">
                <h4 class="level-title">Local</h4>
                <h5 class="who"></h5>
                <div class="rnr">
                    <h6 class="level-section-title">Roles & Responsibilities</h5>
                    <p></p>
                </div>
                <div class="hai">
                    <h6 class="level-section-title">How they can Address the Issue</h5>
                    <p></p>
                </div>
            </div>
            <div class="level state">
                <h4 class="level-title">State</h4>
                <h5 class="who"></h5>
                <div class="rnr">
                    <h6 class="level-section-title">Roles & Responsibilities</h5>
                    <p></p>
                </div>
                <div class="hai">
                    <h6 class="level-section-title">How they can Address the Issue</h5>
                    <p></p>
                </div>
            </div>
            <div class="level federal">
                <h4 class="level-title">Federal</h4>
                <h5 class="who"></h5>
                <div class="rnr">
                    <h6 class="level-section-title">Roles & Responsibilities</h5>
                    <p></p>
                </div>
                <div class="hai">
                    <h6 class="level-section-title">How they can Address the Issue</h5>
                    <p></p>
                </div>
            </div>
        </div>
    </section>

    <!-- Public Transport -->
    <section class="section main-section">
        <h2 class="section-title main-section-title">Public Transit</h2>
        <div class="split" data-columns="3">
            <div class="level local">
                <h4 class="level-title">Local</h4>
                <h5 class="who"></h5>
                <div class="rnr">
                    <h6 class="level-section-title">Roles & Responsibilities</h5>
                    <p></p>
                </div>
                <div class="hai">
                    <h6 class="level-section-title">How they can Address the Issue</h5>
                    <p></p>
                </div>
            </div>
            <div class="level state">
                <h4 class="level-title">State</h4>
                <h5 class="who"></h5>
                <div class="rnr">
                    <h6 class="level-section-title">Roles & Responsibilities</h5>
                    <p></p>
                </div>
                <div class="hai">
                    <h6 class="level-section-title">How they can Address the Issue</h5>
                    <p></p>
                </div>
            </div>
            <div class="level federal">
                <h4 class="level-title">Federal</h4>
                <h5 class="who"></h5>
                <div class="rnr">
                    <h6 class="level-section-title">Roles & Responsibilities</h5>
                    <p></p>
                </div>
                <div class="hai">
                    <h6 class="level-section-title">How they can Address the Issue</h5>
                    <p></p>
                </div>
            </div>
        </div>
    </section>
</Layout>