---
import Layout from '../layouts/Layout.astro';

---
<Layout title="Home">
    <!-- Hero -->

    <!-- Roads/Infrastructure -->
    <section class="section main-section split">
        <h2 class="main-section-title">Roads/Infrastructure </h2>
        <!-- Roads -->
        <section class="section subsection">
            <h3 class="sub-section-title">Roads</h3>
        </section>
        <!-- Infrastructure -->
        <section class="section subsection">
            <h3 class="sub-section-title">Infrastructure</h3>
        </section>
    </section>
    <!-- Public Transport -->
    <section class="section main-section">
        <h2 class="main-section-title">Public Transit</h2>
    </section>
</Layout>