---
import Layout from '../layouts/Layout.astro';

import Hero from '../components/Hero.astro'
---
<Layout title="Home">    
    <Hero />

    <!-- Roads/Infrastructure -->
    <section class="section main-section">
        <h2>Roads/Infrastructure </h2>
        <!-- Roads -->
        <section class="section subsection">
            <h3>Roads</h3>
        </section>
        <!-- Infrastructure -->
        <section class="section subsection">
            <h3>Infrastructure</h3>
        </section>
    </section>
    <!-- Public Transport -->
    <section class="section main-section">
        <h2>Public Transit</h2>
    </section>
</Layout>