---
import '../styles/components/header.scss'


const { page } = Astro.props

var links = [
    '#welcome', 
    '#roads', 
    '#infrastructure', 
    '#public-transportation'
]

var navItems = []

links.forEach(l => {
    var link = l

    var name = link
    if (name.startsWith('#')) {
        name = name.slice(1)
        var nameParts = []
        if (name.includes('-')) nameParts = name.split('-')
        else nameParts = [name]

        nameParts.forEach((p, i) => {
            nameParts[i] = `${p.slice(0, 1).toUpperCase()}${p.slice(1)}`
        })

        name = nameParts.join(' ')

    }

    if (page !== 'Home' && page !== '' && link.startsWith('#')) {
        link = `/${link}`
    }

    navItems.push({
        href: link,
        title: name,
    })
})

---
<header class="header">
    <nav class="container nav">
        <div class="logo">
            <img src="/img/logo.svg" alt="RoadAware Logo">
            <span class="text">RoadAware</span>
        </div>
        <div class="nav-links">
            {
                navItems.map(i => {
                    return <a href={i.href} class="nav-link">{i.title}</a>
                })
            }
        </div>
    </nav>
</header>