---
const { page } = Astro.props
---
<header class="header">
    <nav class="container nav">
        <div class="logo">
            <img src="/img/logo.svg" alt="RoadAware Logo">
            <span class="text">RoadAware</span>
        </div>
        <div class="nav-links">
            <a href="/#welcome" class="nav-link">Welcome</a>
            <a href="/#roads" class="nav-link">Roads</a>
            <a href="/#infrastructure" class="nav-link">Infrastructure</a>
            <a href="/#transportation" class="nav-link">Public Transportation</a>
        </div>
    </nav>
</header>