---

---
<section class="hero-container">
    <section id="welcome" class="section hero">
        <h1 class="section-title main-title">Welcome to RoadAware</h1>
        <h2 class="section-title sub-section-title">We bring awareness to the conditions of Roads, Infrastructure, and Public Transportation</h2>
        <p class="section-text">The conditions of Roads, Infrastructure, and Public Transportation are very different everywhere you go.</p>
        <p class="section-text">Some areas receive quality road updates, while others need better ones, with issues such as potholes and missing tiles.</p>
        <p class="section-text">Some places have Public Transportation, but the service could be more vast, reliable, frequent, and timely.</p>
        <p class="section-text">Some areas, better yet, have a vast and timely Public Transit system, but it is not reliable or frequent.</p>
    </section>
</section>