---
import Hero from '../components/Hero.astro'

import '../styles/globals.scss'

var { title } = Astro.props

var dTitle = 'RoadAware | Learn About Infrastructure and Transportation'
if (title !== 'Home' && title !== '' && title) dTitle = `${title} | ${dTitle}`

---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{dTitle}</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <nav class="container nav">
            <div class="logo">
                <img src="/img/logo.svg" alt="RoadAware Logo">
                <span class="text">RoadAware</span>
            </div>
            <div class="nav-links">
                <!-- <a href="#welcome-section" class="nav-link">Welcome</a>
                <a href="#infrastructure-challenges" class="nav-link">Infrastructure</a>
                <a href="#transportation-issues" class="nav-link">Transportation</a>
                <a href="#did-you-know" class="nav-link">Did You Know?</a> -->
            </div>
        </nav>
    </header>

    { title === 'Home' ? <Hero /> : ''}

    <main class="main-content container">
        <slot />
    </main>

    <footer class="footer">
        <div class="container footer-content">
            <p>&copy; 2023 RoadAware. All rights reserved.</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script src="/js/main.js" is:inline></script>
</body>
</html>