---
import Hero from '../components/Hero.astro'
import Header from '../components/Header.astro'

import '../styles/globals.scss'
import '../styles/scrollbar.scss'

import '../styles/components/carousel.scss'
import '../styles/components/split.scss'

var { title } = Astro.props

var dTitle = 'RoadAware | Learn About Roads, Infrastructure and Transportation'
if (title !== 'Home' && title !== '' && title !== null && title) dTitle = `${title} | ${dTitle}`

var date = new Date()
var year = date.getFullYear()

---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{dTitle}</title>
    <link href="/favicon.svg" rel="icon">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.css" rel="stylesheet">
</head>
<body>
    <a href="#top" class="top-btn">
        <svg viewBox="0 0 300 300">
            <path d="m 150 0 l -150 150 l 100 0 l 0 150 l 100 0 l 0 -150 l 100 0 l -150 -150 z" />
        </svg>
    </a>

    <Header page={title} />

    { title === 'Home' ? <Hero /> : ''}

    <main class="main-content container">
        <slot />
    </main>

    <footer class="footer">
        <p>&copy; {year ? year : 2024} RoadAware. All rights reserved.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script src="/js/main.js" is:inline></script>
</body>
</html>